.left {
    float: left;
    width: 50%;
    background-color: lightblue;
}

.right {
    float: right;
    width: 50%;
    background-color: #bbb;
}
.probox{
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
}
.proimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.proname {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.proemail {
    font-size: 18px;
    text-align: center;
}
.mainbox {
    margin-top: 5%;
    width: 250px;
    height: 250px;
}
.mainlogo {
    height: 100%;
    object-fit: cover;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th ,tr{
    text-align: center;
    padding: 8px;
    border-bottom: 4px solid #fdba74; ;
}
tr:last-child {
    border-bottom: 0px
}